.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.container aside {
  display: flex;

  font-size: 0.875rem;
  font-weight: bold;
}

.createdTasks {
  color: var(--blue-500);
}

.doneTasks {
  color: var(--purple-500);
}

.taskCounter {
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  font-weight: bold;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  background-color: var(--gray-400);
  color: var(--gray-200);
}