.list {
  list-style: none;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(130,132,250,1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  padding: 1rem;
}